/* ================= SECTION ================= */
.logo-3d-section {
  padding: 100px 0;
  text-align: center;
  background: var(--light-bg);
}

/* TITLE */
.title {
  font-size: 32px;
  margin-bottom: 40px;
  color: var(--dark1);
}

/* ================= CAROUSEL ================= */
.carousel {
  width: 320px;
  height: 320px;
  margin: auto;
  perspective: 1200px;
  cursor: grab;
}

/* TRACK */
.carousel-track {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.1s linear;
}

/* ITEMS */
.carousel-track span {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
}

/* LOGOS */
.carousel-track img {
  width: 110px;
  transition: 0.3s;
  filter: grayscale(100%);
  opacity: 0.7;
}

.carousel-track img:hover {
  filter: grayscale(0%);
  opacity: 1;
  transform: scale(1.2);
}